.warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
.formContainer {
    background-color: rgba(255, 255, 255, 0.444);
    width: 300px;
    margin: auto auto;
    padding: 50px;
    margin-top: 150px;
}
.danger {
    font-size: 12px;
    color: red;
    margin-left: 2em;
  }

.textLabel {
    margin: 8px;
}

